* { 
  margin:0; 
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content:center;
  align-items: center;
  min-height: 100vh;
  background: #182C61;
  animation: animateBackground 5s linear infinite;

}

.container .box-itens {
  position: relative;
  width: 120px;
  height: 120px;
}

.container .box-itens span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--item)));
}

.container .box-itens span::before {
  content: '';
  position: absolute;
  border-radius: 50%;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background: #25CCF7;
  box-shadow: 0 0 10px #25CCF7,
              0 0 20px #25CCF7,
              0 0 40px #25CCF7,
              0 0 60px #25CCF7,
              0 0 80px #25CCF7,
              0 0 100px #25CCF7
  ;
  animation: animateVisibility 2s linear infinite;
  animation-delay: calc(0.1s * var(--item));
}

@keyframes animateBackground {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes animateVisibility{
  0% {
    transform: scale(1.2);
    
  }

 75%, 100% {
    transform: scale(0);
  }
}